<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instagram clone</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../stylesheets/home.css" />
  </head>
  <body>
    <div class="main">
      <div class="share-btn">
        <div class="upload-form">
          <div class="share-icons">
            <a class="whatsapp-a" target="_blank" href=""
              ><i class="ri-whatsapp-line"></i
            ></a>
            <i class="ri-qr-scan-2-line"></i>
          </div>
        </div>
      </div>
      <div class="overlay4">
        <form
          action="/uploadstory"
          class="upload-form"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="main-nav">
            <h3>Create Story</h3>
            <img src="../images/img/cross.png" alt="" class="cross" />
          </div>

          <div class="story-img">
            <span> Preview: </span>
            <img src="" alt="" />
          </div>
          <div class="upload-cnt">
            <input class="story-inp" type="file" name="file" id="" />
            <button type="submit">Add to Story</button>
          </div>
        </form>
      </div>
      <div class="notification" id="notification">
        <h2>Notifications</h2>
        <% noti.reverse().forEach((i)=>{%> <% if(i.notificationType == "like"){%>
        <div class="notification-list">
          <a href="/singlepost/<%= i.entityId %>" class="notification-item">
            <div class="user-avatar">
              <img src="<%= i.userFrom.profile_picture %>" alt="User Avatar" />
            </div>
            <div class="notification-content">
              <p>
                <span class="username"><%= i.userFrom.fullName %></span> liked
                your post.
              </p>
              <span class="timestamp">2 hours ago</span>
            </div>
          </a>
        </div>
        <%}%> <%if(i.notificationType == "comment"){%>
        <div class="notification-list">
          <a href="/singlepost/<%= i.entityId %>" class="notification-item">
            <div class="user-avatar">
              <img src="<%= i.userFrom.profile_picture %>" alt="User Avatar" />
            </div>
            <div class="notification-content">
              <p>
                <span class="username"><%= i.userFrom.fullName %></span>
                commented on your post
              </p>
              <span class="timestamp">2 hours ago</span>
            </div>
          </a>
        </div>
        <%}%> <%}) %>
      </div>

      <div class="share-menu">
        <div class="upload-form">
          <div class="upload-cnt">
            <img class="qrimg" height="180px" src="" alt="" />
            <h4>scan here to share post</h4>
          </div>
        </div>
      </div>
      <div class="overlay3"></div>

      <div class="overlay">
        <form
          action="/uploadpost"
          class="upload-form"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="main-nav">
            <h3>Create Post</h3>
            <img src="../images/cross.png" alt="" class="cross" />
          </div>
          <div class="upload-nav">
            <div class="img-cnt">
              <img src="<%= user.profile_picture %>" />
            </div>
            <div class="username"><%=user.fullName%></div>
          </div>
          <div class="upload-cnt">
            <input
              type="text"
              name="title"
              placeholder="What's on your mind ?"
              id=""
            />
            <h6 class="upload-err">Invalid File type</h6>
            <input
              type="file"
              name="file"
              id="file_inp"
              onchange="checkFile()"
            />
            <button type="submit">Post</button>
          </div>
        </form>
      </div>
      <div class="overlay2"></div>
      <div class="search-card mdl-card mdl-shadow--2dp">
        <h2>Search</h2>
        <div class="search-inp">
          <input class="mdl-textfield__input" type="text" id="sample1" />
        </div>
        <h4>recent searches</h4>
        <div class="search-content"></div>
      </div>
      <div class="menu-overlay">
        <div class="menu-bar">
          <a href="#"><i class="ri-settings-3-line"></i></a>
          <a href="#">settings</a>
        </div>
        <div class="menu-bar">
          <a href="#"><i class="ri-bookmark-line"></i></a>
          <a href="#">saved</a>
        </div>
        <div class="menu-bar">
          <a href="#"><i class="ri-error-warning-line"></i></a>
          <a href="#">blocked</a>
        </div>
        <div class="menu-bar">
          <a href="/logout">Log out</a>
        </div>
      </div>
      <div class="container">

        <nav>
          <div class="navbar">
            <div class="instagram-text-logo">
              <img
                src="https://i.postimg.cc/qMFTcDw1/instagram-text.png"
                id="white-color"
                alt=""
              />
            </div>
            <a class="search-links" href="/">
              <div class="sub-section" id="clicked">
                <i class="fa-solid fa-house"></i>Home
              </div>
            </a>
            <a class="search-links search-btn">
              <div class="sub-section">
                <i class="fa-solid fa-magnifying-glass search-btn"></i>Search
              </div>
            </a>
            <a class="search-links" href="/reels">
              <div class="sub-section">
                <i class="fa-solid fa-clapperboard"></i>Reels
              </div>
            </a>
            <a class="search-links" href="/chat">
              <div class="sub-section">
                <i class="fa-regular fa-message"></i>Messages
              </div>
            </a>

            <a class="search-links notification-btn">
              <div class="sub-section">
                <i class="fa-regular fa-heart"></i>Notification
              </div>
            </a>

            <a class="search-links" href="/explore">
              <div class="sub-section">
                <i class="fa-regular fa-compass"></i>Explore
              </div>
            </a>
            <a class="search-links createpost">
              <div class="sub-section">
                <i class="fa-solid fa-square-plus"></i>Create
              </div>
            </a>
            <a class="search-links" href="/profile/<%= user._id %>">
              <div class="sub-section">
                <div class="profile-img">
                  <img src="<%= user.profile_picture %>" alt="" />
                </div>
                Profile
              </div>
            </a>
            <div class="menu-section" onclick="toggleMenu()" id="hidden">
              <a> <i class="fa-solid fa-bars"></i></a>
              <a>More</a>
            </div>
          </div>
        </nav>
        <div class="middle-section">
          <div class="post-section">
            <div class="nav-hidden">
              <div class="nav-hidden-logo" id="white-2color">
                <img
                  src="https://i.postimg.cc/qMFTcDw1/instagram-text.png"
                  alt=""
                />
              </div>
              <div class="nav-hide-2">
                <i class="fa-regular fa-heart"></i>
                <i class="fa-regular fa-paper-plane"></i>
              </div>
            </div>
            <div class="story-section"></div>
            <div class="post-area"></div>
          </div>
        </div>
        <div class="follow-section">
          <div class="profile-follow profile-foolow-hovering">
            <a href="/profile/<%= user._id %>">
              <div class="profile-follow-left">
                <div class="profile-follow-image">
                  <img src="<%= user.profile_picture %>" alt="" />
                </div>
                <div class="profile-follow-content">
                  <p class="profile-id"><%= user.fullName %></p>
                  <!-- <p class="profile-name">Aaasu Yadav</p> -->
                </div>
              </div>
            </a>
            <a href="/logout" class="follow">Logout</a>
          </div>
          <div class="suggestion-follow">
            <p class="suggestion">Suggested for you</p>
            <a href="#" class="see-all">see all</a>
          </div>
          <% allUser.forEach(e => { %>
          <%if(e.followers.includes(user._id)===false){ %>
          <a href="/profile/<%=e._id %>">
            <div class="profile-follow profile-foolow-hovering">
              <div class="profile-follow-left">
                <div class="profile-follow-image">
                  <img src="<%= e.profile_picture%>" alt="" />
                </div>
                <div class="profile-follow-content">
                  <p class="profile-id"><%= e.fullName%></p>
                </div>
              </div>
              <% if(e.followers.includes(user._id)){ %>
              <a href="/follow/<%=e._id%>" class="follow">Unfollow</a>
              <% } else{ %>
              <a href="/follow/<%=e._id%>" class="follow">follow</a>
              <% } %>
            </div>
          </a>
          <% } %> 
          <% }) %>
        </div>
      </div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.6/axios.min.js"
      integrity="sha512-06NZg89vaTNvnFgFTqi/dJKFadQ6FIglD6Yg1HHWAUtVFFoXli9BZL4q4EO1UTKpOfCfW5ws2Z6gw49Swsilsg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="../javascripts/home.js"></script>
  </body>
</html>
